.bg {
    background: linear-gradient(180deg, rgba(255, 196, 0, 1) 10%, rgba(246, 143, 40, 1) 100%);
    text-align: center;
    padding: 4px 0;

    .text {
        color: white;
        font-weight: 600;

    }
}