.menuContent {
    padding: 4px;
    border-radius: 4px;


    .content {
        background: linear-gradient(180deg, rgb(255, 196, 0) 10%, rgb(246, 143, 40) 100%);
        align-items: center;
        justify-content: space-evenly;

        .tabs {
            .tabItem {
                color: white;

                font-weight: 600;
                opacity: .7;

                &.selectedTab {
                    opacity: 1;
                    font-weight: bold;
                    font-size: 16px;
                }

            }


        }
    }
}